.counter { 
    display: flex;
    justify-content: center;
    .agregar{
        height: 2.05em;
        margin: .5em;
    }
};

.itemCount{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: baseline;
    h5 {
        margin: .5em;
    }
}